{% extends "merge/base.html" %}

{% block content %}

<div class="content-section">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <label for="video" class="form-label">Video File</label>
            <input type="file" name="video" class="form-control">
            <br>
            <label for="transcript" class="form-label">Transcript</label>
            <input type="file" name="transcript" class="form-control">
            <br>
            <label for="gender" class="form-label">Gender:</label>
            <div class="form-check">
                <input type="radio" id="male" name="gender" class="form-check-input" value="0">
                <label for="male" class="form-check-label">Male</label>
            </div>
            <div class="form-check">
                <input type="radio" id="female" name="gender" class="form-check-input" value="1">
                <label for="female" class="form-check-label">Female</label>
            </div>
            <br>
            <div class="input-group mb-3">
                <span class="input-group-text">Rate/Tempo:</span>
                <input type="text" name="rate" class="form-control" placeholder="200">
            </div>
            <button class="btn btn-outline-dark" type="submit">Generate</button>
        </fieldset>
    </form>

    {% if error %}
    <h6 class="alert alert-danger">{{ error }}</h6>
    {% endif %}

    {% if result %}
    <br>
    <h5 class="alert alert-success">Result:
        <a href="{{ result }}">
            <button class="btn btn-primary">Preview</button>
        </a>
    </h5>
    Right Click and select "Save Link As" to Download
    {% endif %}
</div>

{% endblock content %}